<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/style.css">
		<title>Danny DeVito Fan Club!</title>
	</head>
	<body>
		<h1>Welcome to the Danny DeVito Fan Club!</h1>
		<img id="rotateDanny" src="../static/OGDanny.jpg" alt="Our lord and savior" width="500" height="600">
		<button type="button" onclick="rotate()">Click Me!</button>
		<p>This is meant to be a safe space for all true Danny Devito lovers. Listed below is a transcription of the greatest ever scene in Danny Devito history:</p>
		<p class="mantra">You gotta pay the troll toll to get into this boy's hole. You gotta pay the troll toll to get in. You want this baby boy's hole, you gotta pay the troll toll.</p>

		<h2>Fan Club Members</h2>
		<label for="name">Join the Club:</label>
 		<input type="text" id="name" name="name">
		<button type="button" onclick="addMember()">Join!</button>
		<ul id="Club Members">
		</ul>
		<script type="text/javascript" src="../static/rotate.js"></script>
	</body>
</html>
